body {
    overflow: hidden;
}

main {
    padding: 0 1rem;
}

/********** CLOSED PRODUCT TILE **********/
#products {
    max-width: 120rem;
    min-height: 60rem;
    margin: 0 auto 2.5rem;
    padding: 2.5rem;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;
    box-shadow: inset 0 0 .6rem var(--shadow);
    border-radius: .4rem;
}

.product-tile {
    width: 100%;
    max-width: fit-content;
    box-shadow: inset 0 0 .6rem var(--shadow);
    border-radius: .4rem;
    cursor: pointer;
    overflow: hidden;
}

.product-tile > summary {
    list-style: none;
    padding-bottom: 1rem;
}

.product-img {
    position: relative;
    max-height: 15rem;
}

.product-name,
.product-price {
    margin: 0 1rem;
}

.product-name {
    font-size: 1.6rem;
}

.product-price {
    color: var(--color-red);
}

.hide {
    display: none;
}

/********** OPEN PRODUCT TILE **********/
#products.tile-open {
    display: block;
    padding: 0;
    box-shadow: none;
}

.product-tile[open] {
    top: 0;
    bottom: 0;
    display: grid;
    grid-template-areas:
        "img"
        "summary"
        "info";
    max-width: 60rem;
    margin: 0 auto;
    padding: 2.5rem;
    cursor: default;
}

.product-tile[open] > summary {
    text-align: center;
}

.product-tile[open] .product-img {
    grid-area: img;
}

.product-tile[open] .product-summary {
    grid-area: summary;
    position: relative;
    margin: auto;
}

.product-tile[open] .btn-primary {
    width: 100%;
}

.product-info {
    grid-area: info;
    display:grid;
    grid-template-areas: "links text";
    gap: 1rem;
}

.product-info article {
    grid-area: text;
}

.product-info article p {
    font-size: 1.2rem;
}

.info-list {
    grid-area: links;
}

.info-link {
    margin: 1rem 0;
}

.info-link:nth-child(1) {
    margin-top: 0;
}

/********** BUTTON DESIGN **********/
/*! SHOP BUTTONS !*/
#shop-btns {
    display: flex;
    max-width: 120rem;
    margin: 1rem auto;
}

#btn-search,
#btn-filter {
    position: relative;
    cursor: pointer;
    border: .1rem solid var(--color-light);
}

#btn-search {
    transition: width .25s ease-in-out;
    width: 4rem;
    max-width: 40rem;
    border-radius: 3rem;
    overflow: hidden;
}

#btn-search.search-open {
    transition: width .25s ease-in-out;
    border: .1rem solid var(--color-white);
    border-radius: 3rem;
    width: 100%;
}

#btn-filter.filter-open {
    display: flex;
    width: 100%;
    justify-content: end;
    border: none;
}

#filter-open-icons {
    display: none;
    border: .1rem solid var(--color-white);
    border-radius: 3rem;
}

#search-icon,
#filter-icon,
#filter-confirm,
#filter-reset,
#filter-cancel {
    width: 4rem;
    height: 4rem;
    position: relative;
    z-index: 9;
}

#search-icon {
    display: block;
}

#filter-icon,
#filter-confirm,
#filter-reset,
#filter-cancel {
    display: none;
}

#filter-icon.show,
#filter-confirm.show,
#filter-reset.show,
#filter-cancel.show {
    display: block;
}

#filter-open-icons.show {
    display: flex;
}

#search-icon {
    float: right;
    background: var(--color-light);
}

#search-icon i,
#filter-icon i,
#filter-confirm i,
#filter-reset i,
#filter-cancel i {
    color: var(--color-white);
    position: relative;
    font-size: 2.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-icon i:hover,
#filter-icon i:hover,
#filter-confirm i:hover {
    color: var(--color-green)
}

#filter-reset i:hover {
    color: var(--color-dark);
}

#filter-cancel i:hover {
    color: var(--color-red);
}

/*! SEARCH BOX !*/
#btn-search input {
    transition: background-color .25s ease-out;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    width: 100%;
    height: 4rem;
    z-index: 1;
    padding: 1rem 3.5rem 1rem 1rem;
    background-color: var(--color-light);
}

#btn-search.search-open input {
    background: var(--color-white);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type=search]::-ms-clear {
    display: none; width : 0; height: 0;
}

input[type=search]::-ms-reveal {
    display: none; width : 0; height: 0;
}

/*! FILTER !*/
#filter-list {
    display: none;
}

#mobile-filter-menu,
#mobile-filter-list {
    display: block;
    width: 100%;
    background: var(--color-light);
}

#mobile-filter-menu {
    position: relative;
    transition: height .25s ease-in-out;
    height: 0;
    overflow: hidden;
}

#mobile-filter-list {
    position: absolute;
    left: -1rem;
    height: 100%;
}

#mobile-filter-menu.open {
    transition: height .25s ease-in-out;
    height: 100%;
    max-height: calc(100% - 6.2rem);
}

#mobile-filter-list > li {
    position: relative;
}

#mobile-filter-list li:not(#mobile-filter-price-dropdown) {
    justify-content: center;
}

#filter-list > li {
    display: inline-block;
    margin: auto 0;
}

/*! FILTER BUTTONS !*/
.filter {
    all: unset;
    color: var(--color-white);
    margin: 1rem 1rem 0;
    padding-bottom: .9rem;
}

.mobile-filter {
    position: relative;
    margin-top: 1.9rem;
    left: 50%;
    transform: translate(-50%);
    font-size: 4.8rem;
}

.dropdown-content {
    position: absolute;
    margin-left: 1rem;
    padding: .5rem;
    cursor: default;
    z-index: 10;
}

.mobile-dropdown-content {
    position: relative;
    width: fit-content;
    left: 50%;
    transform: translate(-50%);
    padding: .5rem;
    z-index: 2;
}

.dropdown-content,
.mobile-dropdown-content {
    background: var(--color-white);
    box-shadow: inset 0 0 .2rem var(--shadow);
}

.dropdown-content:not(#filter-price-dropdown):not(#mobile-filter-price-dropdown) > li {
    list-style: none;
    display: block;
}

.filter-hover {
    color: var(--color-green);
}

.dropdown-content:not(#filter-price-dropdown):not(#mobile-filter-price-dropdown) > li {
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: .5rem;
    cursor: pointer;
}

.dropdown-content:not(#filter-price-dropdown):not(#mobile-filter-price-dropdown) > li:hover {
    box-shadow: inset 0 0 .2rem var(--shadow);
}

.filter-colour-icon {
    display: block;
    float: right;
    width: .5rem;
    height: .5rem;
    box-shadow: 0 0 .2rem var(--shadow);
}

.black {
    background-color: black;
}

.grey {
    background-color: gray;
}

.white {
    background-color: white;
}

/*! FILTER PRICE !*/
#filter-price-dropdown,
#mobile-filter-price-dropdown {
    padding: 1rem;
}

.price-slider {
    margin-top: 1rem;
    max-width: 20rem;
    height: .5rem;
    position: relative;
    background: var(--color-light);
    border-radius: .2rem;
}

.range-selected {
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: .5rem;
    background: var(--color-green);
    box-shadow: inset 0 0 .2rem var(--shadow);
}

.price-range {
    position: relative;
    max-width: 20rem;
}

.price-range input {
    position: absolute;
    width: 100%;
    height: .5rem;
    top: -.5rem;
    background: none;
    pointer-events: none;
    appearance: none;
}

.price-range input::-webkit-slider-thumb {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background: var(--color-green);
    box-shadow: 0 0 .4rem var(--shadow);
    pointer-events: auto;
    -webkit-appearance: none;
}

.price-range input::-moz-range-thumb {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: .3rem solid var(--color-white);
    background: var(--color-light);
    pointer-events: auto;
    -moz-appearance: none;
}

.price-input {
    display: flex;
    margin-top: 2rem;
    max-width: 20rem;
}

.price-input input {
    max-width: 8rem;
}

/*! CART BUTTON !*/
.btn-primary {
    width: 75%;
    margin: 1rem auto 0;
}

.product-tile[open] .btn-primary {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

@media screen and (min-width: 351px) {
    #products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 601px) {
    .btn-primary {
        font-size: 2.5rem;
    }

    .product-tile[open] {
        display: grid;
        grid-template-areas:
            "img summary"
            "info info";
    }

    .product-tile[open] summary {
        display: grid;
        grid-template-areas: "img summary";
    }

    #btn-filter {
        display: flex;
        max-width: 100%;
    }

    #btn-filter.filter-open {
        width: unset;
        justify-content: unset;
        border: .1rem solid var(--color-white);
        border-radius: 3rem;
    }

    #filter-open-icons {
        margin: unset;
        border: none;
    }

    #filter-list.open {
        display: flex;
        width: 80%
    }

    #mobile-filter-menu {
        display: none;
    }
}

@media screen and (min-width: 821px) {
    #products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1201px) {
    #products {
        grid-template-columns: repeat(4, 1fr);
    }
}